@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.espaço-roxo {
    display: flex;
    background-color: #3750B3;
    width: 100%;
    height: 71px;
}

.right {
    font-family: "inter";
    display: flex;
    margin-left: 1020px;
    margin-right: 15px;
    margin-top: 25px;

}

.right p {
    color: aliceblue;
    margin-right: 10px;
}

.left {
    font-family: "inter";
    display: flex;
    color: aliceblue;
    margin-left: 120px;
    margin-right: 15px;
    padding-top: 25px;
}
.imagens {
    display: flex;
    margin-top: 72px;
    margin-left:120px;
    height: 535px;
}
.titulo {
    font-size: 64px;
    font-family: "inter";
    font-weight: normal;
    margin-left: 760px;
    margin-top: -533px;
}

.sub-titulo {
    font-size: 32;
    font-family: "inter";
    font-weight: normal;
    margin-left: 760px;
}
